  <head>
    <link rel="stylesheet" type="text/css" href="/views/css/about.css" />
  </head>
  <div class="description">
    <img src="logo.png" height="120em" width="100em">
    <h2>Prospector</h2>
    <p>Prospector is a website designed to share locations where to get surplus supplies and scrap</p><bl>
    <p>material. Anybody should be able to share surplus computer equipment, scrap metal, behives and</p><bl>
    <p>ect.</p>
  </div>

  <div class="description">
    <img src="/images/shane.jpeg" height="120em" width="100em">
    <h2>Shane Drafahl</h2>
    <p>My name is Shane Drafahl. I am a computer science student from Iowa State University.</p><bl>
    <p>Prospector is a website about sharing resources and scrap locations with a community.</p><bl>
    <p>I created this site to learn how to use Node.js and its somthing I am interested in.</p>
  </div>

  <div class="description">
    <img src="/images/christian.jpg" height="120em" width="120em">
    <h2> Christian Shinkle</h2>
    <p>My name is Christian Shinkle. I am also a computer science student from Iowa State University.</p><bl>
    <p>I assisted with the development of Prospector, specifically the implementation of the Google Maps.</p><bl>
    <p>My areas of interest include computer graphics and front-end work.</p>
  </div>

  <script src="/views/javascript/about.js"></script>