  <script>
  function selectAbout(){
          $("#HBL").removeClass("active");
          $("#RBL").removeClass("active");
          $("#ABL").addClass("active");
          console.log("Making About Active");
        }
        selectAbout();
  </script>
  <style>

  </style>

  <div class="contribute">
    <img src="/images/shane.jpeg" height="120em" width="100em">
    <h2>Shane Drafahl</h2>
    <p>My name is Shane Drafahl I am a computer science student from Iowa State University.</p><bl>
    <p>Prospector is a website about sharing resources and scrap locations with a community.</p><bl>
    <p>I created this site to learn how to use Node.js and its somthing I am interested in.</p>
  </div>
