  <script>
  function selectAbout(){
          $("#HBL").removeClass("active");
          $("#RBL").removeClass("active");
          $("#ABL").addClass("active");
          console.log("Making About Active");
        }
        selectAbout();
  </script>
  <style>
    .description{
        margin-top: 3em;
        margin-bottom: 3em;
        margin-right: 3em;
        margin-left: 3em;
        color: #F8F8FF;
    }
  </style>

  <div class="description">
    <img src="" height="120em" width="100em">
    <h2>Prospector</h2>
    <p>Prospector is a website designed to share locations where to get surplus supplies and scrap</p><bl>
    <p>material. Anybody should be able to share surplus computer equipment, scrap metal, behives and</p><bl>
    <p>ect.</p>
  </div>

  <div class="description">
    <img src="/images/shane.jpeg" height="120em" width="100em">
    <h2>Shane Drafahl</h2>
    <p>My name is Shane Drafahl I am a computer science student from Iowa State University.</p><bl>
    <p>Prospector is a website about sharing resources and scrap locations with a community.</p><bl>
    <p>I created this site to learn how to use Node.js and its somthing I am interested in.</p>
  </div>

