  <head>
    <link rel="stylesheet" type="text/css" href="/views/css/about.css" />
  </head>
  <div class="description">
    <img src="logo.png" height="120em" width="100em">
    <h2>Prospector</h2>
    <p>Prospector is a website designed to share locations where to get surplus supplies and scrap</p><bl>
    <p>material. Anybody should be able to share surplus computer equipment, scrap metal, behives and</p><bl>
    <p>ect.</p>
  </div>
  
  <script src="/views/javascript/about.js"></script>
