<!DOCTYPE html>
<html>
<head>
    <title>Resource Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/css/forgotPassword.css" />
</head>
<body>
    
<img id="background" src="" style="width:100%;width:100%;">

    <div class="display">   
        <h2>Forgot Password</h2>
            <div id="cont">
                <label for="email">Email Or User</label>
                <input type="text" class="form-control" style="border-radius:0px" id="email" placeholder="email or user">
                <button type="submit" onclick="setupClick()" class="button" id="recover">Send</button>
            </div> 
    </div>
      <script src="/views/javascript/resetPassword.js"></script>
     
</div>
</body>
</html>