
<!DOCTYPE html>

<html>

<body>
<p> The Index!!!</p>
<script>
function selectHome(){
          $("#RBL").removeClass("active");
          $("#ABL").removeClass("active");
          $("#HBL").addClass("active");
          console.log("Making About Active");
        }
        selectHome();
</script>
</body>
</html>

