<!DOCTYPE html>
<html>
 <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/views/css/index.css" />
  </head>
<body>
 <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9KxRvcZhsLFBf7ggjZN4zO1lOJCUoMy4&callback=initMap"
    async defer>
    </script>
  <script src="/views/javascript/index.js"></script>
</body>
</html>
