
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home</title>
  <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/views/css/layout.css" />
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div id="sidenav" class="col-sm-3 sidenav vis">
      <img id="reorder" src="icons/ic_reorder_black_24px.svg"</img>
      <h4 id="title">Prospector</h4>
      <ul class="nav nav-pills nav-stacked">
        <li id="HBL" class=""><a id="homeButton"  href="/index" onclick="selectHome();">Home</a></li>
        <li id="RBL" class=""><a id="resourceButton" href="/resources" onclick="selectResources();">Resources</a></li>
        <li id="ABL" class=""><a id="aboutButton" href="/about" onclick="selectAbout();">About</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" id="search_for" class="form-control" placeholder="Search Map">
        <span class="input-group-btn">
          <button class="btn btn-default" id="subLoc" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <!-- header for displaying -->
    <div class="col-sm-9">
          <div id="cont">
                <a href="/loginScreen" id="login">Login</a>
                <a href="" onclick="logout();" id="logout">Logout</a>
                <a href="/register" id="register">Register</a>
                <img id="profilePicture" src="../images/images.jpg" style="width:50px;height:75px;">
                <a href="/submit">
                  <div id="create">
                    <p id="textButton">Submit</p>
                  </div>
                </a>
          </div>
        </div>
      <hr>

    <!-- Area for content -->
    <div id="area" class= "area">
        <%- body %>
    </div>
        </div>
      </div>
    </div>

  </div>

</div>
<script src="/views/javascript/layout.js"></script>
</body>

</html>
