
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    /*Login, logout, register buttons and image*/
    .account{
      padding-left: 900px;
      display:inline;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    /*Controls the main body*/
    .area{
          position: static;
          min-height: 10px;
          padding-right: 15px;
          padding-left: 15px;
          height: 1000px
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
  <script>
  function initMap() {
        var myLatLng = {lat: 42.011018, lng: -93.68398};
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
        center: {lat: 42.03, lng: -93.75},
        zoom: 12
      });
      var marker = new google.maps.Marker({
       position: myLatLng,
       map: map,
       title: 'Hello World!'
       });
      }
    </script>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Prospector</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/about">About</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Map">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9"><!-- header for displaying -->
        <div class="account">
          <a href="/loginScreen" id="login">Login</a>
          <a href="" onclick="logout();" id="logout">Logout</a>
          <a href="/register" id="register">Register</a>
          <img id="profilePicture" src="../images/images.jpg" style="width:50px;height:75px;">
          <script>
          
            function logout(){
              console.log("logging out");
              $.ajax({
                url: '/logout',
                type: 'POST',
                success:function(data){
                  console.log("success");
                },
                error: function(xhr,status,error){
                  console.log("error");
                }
              });
            }
            
            function showImage(){
               $.ajax({
                  url: '/getSessionData',
                  type: 'POST',
                  success: function(data){
                    console.log(data);
                    if(data.loggedIn){
                      console.log("Is Logged In");
                      var edit = document.getElementById("profilePicture");
                      var strings = data.user + data.id + "." + data.ext;
                      console.log(strings);
                      edit.src= "/images/" + strings;
                      console.log(edit.src);
                      
                    }else{
                      console.log("Not Logged In");
                    }
                    
                  },
                  error: function(xhr,status,error){
                    console.log("error");
                    }

                  });
            }
            showImage();
          
          </script>

        </div>
      <h4><small>Map</small></h4>
      <hr>
        
    </div>
    <!-- Area for content -->
    <div class= "area">
        <%- body %>

    </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>&copy; Shane Drafahl</p>
</footer>

</body>
</html>
