<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Simple Registration form - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <style>
        body{
          height: 100%;
        }
        #photo{
           position: relative;
           left: 180px;
        }
        #messageBox{
          
          width:30%;
          top:2em;
          height: 10em;
          left:13em;
          position:relative;
        }
        #message{
          color:red;
          position: relative;
        }
    </style>
</head>
<body>
<div class="form-horizontal" >
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Bio -->
      <label class="control-label" for="bio">Bio</label>
      <div class="controls">
        <input type="text" id="bio" name="bio" placeholder="" class="input-xlarge">
        <p class="help-block">Enter Your Bio</p>
      </div>
    </div>
    
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <input type="file" name="userPhoto" id="fileInput" />
        <button class="btn btn-success" id="register">Register</button>
      </div>
    </div>
  </fieldset>
</div>

<div class="control-group" id="messageBox">
  <p id="message"></p>
</div>

<script type="text/javascript">

function getBase64(file,cb) {
   var reader = new FileReader();
   reader.readAsDataURL(file);
   reader.onload = function () {
     console.log(reader.result);
     cb(reader.result);
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}

document.getElementById('register').addEventListener('click', function() {
  console.log("registering...");
  var files = document.getElementById('fileInput').files;
  


  var imag32;
  var tempData;
  //console.log(tempData);
  var usr = document.getElementById("username").value;
  //console.log(usr);
  var email = document.getElementById("email").value;
  //console.log(email);
  var pass1 = document.getElementById("password").value;
  //console.log(pass1);
  var pass2 = document.getElementById("password_confirm").value;
  //console.log(pass2);
  var bio = document.getElementById("bio").value;
  //console.log(bio);
  var data = {usr:usr,email:email,pass:pass1,bio:bio};
  
 if((usr && email && pass1 && pass2 && bio)){
if((files[0].size/1000)<30){
  if ((files[0].size/1000)>0) {
    getBase64(files[0],function(result){
      data.img = result;  
      //console.log(data);
      
      $.ajax({
                url: '/registerAccount',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function(data){
                    console.log("success");
                    if(data.duplicate){
                      console.log("Duplicate");
                      $('#message').html("Duplicate User or Email");
                  }else{
                      self.location = "http://localhost:3000/";
                      console.log("No Duplicate");
                    }
                    
                },
                error: function(xhr,status,error){
                  console.log("error");
                }
            });
      
  });



}else{
    
    $('#message').html("No File Selected");

  }

}else{
  console.log("Image Too Big");
  $('#message').html("Image is Too Big");
  
  
}

}else{
  
  console.log("Not All Fields Are Filled");
  $('#message').html("Not All Fields Are Filled");
}
});


</script>


</body>
</html>