
<!DOCTYPE html>
<html>
<head>
<style>
  .resourceArea{
   
    width :100%;
    border-style: solid;
    border-color: #F0F8FF;
    height: 4.5em;
    border-width: 1px;
    cursor:pointer;
  }
  .txt{
    margin-right: 10px;
    margin-left: 10px;
  }

  #list{
    width :100%;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

  }
  .author{
    left:500px;
    width:30px;
    height:55px;
    position:absolute;
  }
</style>
<script>
  
</script>
<script>
function selectResources(){
          $("#HBL").removeClass("active");
          $("#ABL").removeClass("active");
          $("#RBL").addClass("active");
          console.log("Making Resources Active");
        }
        selectResources();
</script>
</head>
<body>
    <ul id="list">
     
    </ul>
    <script>
      
      function fillList(value){
               console.log("Filling List");
                $.ajax({
                    url: '/getResources',
                    type: 'POST',
                    success: function(data){
                      console.log(data);
                      if(data.moreData && data.logged){
                        console.log(data);
                        var list = document.getElementById('list');
                        var entry = document.createElement('li');
                        var di = document.createElement('div');
                        di.id= "" + data.id;//make sure this works
                        console.log("Value is " + value);
                        
                        di.onclick = function()  {
                         
                          data.id = data.id;
                          console.log("ID is: " + data.id);
                          $.ajax({
                            url: '/sendID',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            success: function(data){
                                console.log("success");
                                self.location = "http://localhost:3000/resourcePage";
                            },
                            error: function(xhr,status,error){
                              console.log("error");
                            }
                          });
                        }
                        
                        di.className = "resourceArea";
                        colorStuff(di);
                        var picture = document.createElement('img');
                        picture.src = "/resourceImages/" + data.title + data.id + "." + data.ext;
                        picture.className="author";
                        di.appendChild(picture);
                        var heading = document.createElement('h4');
                        heading.className="txt";
                        heading.innerHTML = data.title;
                        var par = document.createElement('p');
                        par.innerHTML=data.desc;
                        par.className="txt";
                        list.appendChild(entry);
                        entry.appendChild(di);
                        di.appendChild(heading);
                        di.appendChild(par);
                        fillList(value+1);
                      }else{
                        console.log("All Data Used in MYSQL");
                      }
                    },
                    error: function(xhr,status,error){
                      console.log("error");
                      }
                    });
               
      }
        var value = 0;
        fillList(value);
      
      function colorStuff(item){
    item.style.color="#FFFFFF";
    var num = Math.floor((Math.random() * 5));
    console.log(num);
    switch(num){
      
      case 0:
        item.style.background="#808000";
      break;
      case 1:
        item.style.background="#2E8B57";
      break;
      case 2:
        item.style.background="#800080";
      break;
      case 3:
        item.style.background="#000080";
      break;
      case 4:
        item.style.background="#6A5ACD";
      break;
      case 5:
        item.style.background="#2F4F4F";
      break;
}

  }
  


    </script>
  


</body>
</html>
