<!DOCTYPE html>
<html>
<head>
    <title>Resource Page</title>

    <style>
        #control{
            cursor:pointer;
            background: #5F9EA0;
            width: 50px;
        }
        .authorCard{
            background: #5F9EA0;
            position:relative;
            height:3em;
        }
        #who{
             color: #F8F8FF;
             margin: 1em 1em 1em 1em;
             position:relative;
             float: right;
             right:.5em;
             
        }
        #author{
            float: right;
            position: relative;
            right:.5em;
            top:.5em;
        }
        body{
            background-color: #696969;
            height:100vh;
            
        }
        .header{
            width: 15em;
            margin: auto;
        }
        #background{
            z-index: -1;
            position: absolute;
            height:100vh;
        }
        .display{
            z-index: 1;
            background-color: #808080;
            opacity: 0.9;
            height:100%;
            width:65%;
            margin: auto;
        }
        p{
            color:ghostwhite;
        }
        h1{
            color:ghostwhite;
        }
        .detailsCard{
            margin:auto;
            width: 40%;
        }
        .Comments_Ratings{
            position: relative;
            width: 20em;
            height: 10em;
            
        }
        .stars{
            height: 1em;
            width: 1em;
            float: right;
            position:relative;
            margin:auto;
            cursor:pointer ;
        }
    
        
        

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
</head>
<body>
    
    <img id="background" src="" style="width:100%;width:100%;">
    <div class="display">
    <!--Areas to control page by Author -->
    <div id= "control">
        
    </div>

    <div class= "authorCard">
        <img id="author" src="" style="width:25px;height:35px;">
        <p id="who">desc</p>
    </div>

    <div class= "header">
        <h1 id="title"></h1>
    </div>



    <div class="detailsCard">
        <p id="desc"></p>
        <div id="otherCard"
            <p id="coord"></p>
            <p id="address"></p>
            <p id="type"></p>
            <img id="image" src="" style="width:20em;height:15em;">
        </div>

     <div class="Comments_Ratings">
         <div class="radioButton">
            
                <div class="radio">
                    <img id="starOne" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starTwo" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starThree" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starFour" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starFive" class="stars" src="star.png">
                </div>
            
         </div>
     
     <div class="comments">
         
     </div>
     
     </div>

    

        
    </div> 
        
        <script>
            
            function rate(score){
                $.ajax({
                            url: '/addRating',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({score:score}),
                            dataType: 'json',
                            success:function(data){
                                console.log("success");
                            },
                            error: function(xhr,status,error){
                                console.log("error");
                                }
                            });
            }
            
            function start(){
                var starFive = document.getElementById("starFive");
                starFive.onclick = function() {
                    rate(1);
                }
                
                var starFour = document.getElementById("starFour");
                starFour.onclick = function() {
                    rate(2);
                }
                var starThree = document.getElementById("starThree");
                starThree.onclick = function() {
                    rate(3);
                }
                var starTwo = document.getElementById("starTwo");
                starTwo.onclick = function() {
                    rate(4);
                }
                var starOne = document.getElementById("starOne");
                starOne.onclick = function() {
                    rate(5);
                }
                
                
                $.ajax({
                    url: '/getResourceData',
                    type: 'POST',
                    success:function(data){
                    console.log("success");
                    assignData(data);
                    console.log("Get Rating Post");
                               var ran = data.rank;
                               console.log("rank: " + ran);
                               switch(ran){
                                   case 1:
                                    var star5 = document.getElementById("starFive");
                                    star5.style["-webkit-filter"] = "brightness(100%)";

                                    var star4 = document.getElementById("starFour");
                                    star4.style["-webkit-filter"] = "brightness(0)";

                                    var star3 = document.getElementById("starThree");
                                    star3.style["-webkit-filter"] = "brightness(0)";

                                    var star2 = document.getElementById("starTwo");
                                    star2.style["-webkit-filter"] = "brightness(0)";

                                    var star1 = document.getElementById("starOne");
                                    star1.style["-webkit-filter"] = "brightness(0)";
                                   break;
                                   case 2:
                                    var star5 = document.getElementById("starFive");
                                    star5.style["-webkit-filter"] = "brightness(100%)";

                                    var star4 = document.getElementById("starFour");
                                    star4.style["-webkit-filter"] = "brightness(100%)";

                                    var star3 = document.getElementById("starThree");
                                    star3.style["-webkit-filter"] = "brightness(0)";

                                    var star2 = document.getElementById("starTwo");
                                    star2.style["-webkit-filter"] = "brightness(0)";

                                    var star1 = document.getElementById("starOne");
                                    star1.style["-webkit-filter"] = "brightness(0)";
                                   break;
                                   case 3:
                                    var star5 = document.getElementById("starFive");
                                    star5.style["-webkit-filter"] = "brightness(100%)";

                                    var star4 = document.getElementById("starFour");
                                    star4.style["-webkit-filter"] = "brightness(100%)";

                                    var star3 = document.getElementById("starThree");
                                    star3.style["-webkit-filter"] = "brightness(100%)";

                                    var star2 = document.getElementById("starTwo");
                                    star2.style["-webkit-filter"] = "brightness(0)";

                                    var star1 = document.getElementById("starOne");
                                    star1.style["-webkit-filter"] = "brightness(0)";
                                   break;
                                   case 4:
                                     var star5 = document.getElementById("starFive");
                                    star5.style["-webkit-filter"] = "brightness(100%)";

                                    var star4 = document.getElementById("starFour");
                                    star4.style["-webkit-filter"] = "brightness(100%)";

                                    var star3 = document.getElementById("starThree");
                                    star3.style["-webkit-filter"] = "brightness(100%)";

                                    var star2 = document.getElementById("starTwo");
                                    star2.style["-webkit-filter"] = "brightness(100%)";

                                    var star1 = document.getElementById("starOne");
                                    star1.style["-webkit-filter"] = "brightness(0)";
                                   break;
                                   case 5:
                                    var star5 = document.getElementById("starFive");
                                    star5.style["-webkit-filter"] = "brightness(100%)";

                                    var star4 = document.getElementById("starFour");
                                    star4.style["-webkit-filter"] = "brightness(100%)";

                                    var star3 = document.getElementById("starThree");
                                    star3.style["-webkit-filter"] = "brightness(100%)";

                                    var star2 = document.getElementById("starTwo");
                                    star2.style["-webkit-filter"] = "brightness(100%)";

                                    var star1 = document.getElementById("starOne");
                                    star1.style["-webkit-filter"] = "brightness(100%)";                                    
                                   break;


                               }
                    },
                    error: function(xhr,status,error){
                    console.log("error");
                    }
                });
            }
            start();

            function assignData(data){
                var title = document.getElementById("title");
                title.innerHTML = data.title;

                var img = document.getElementById("background");
                var num = Math.floor((Math.random() * 2) + 1);
                console.log("Number: " + num);
                if(num==1){
                    img.src = "background.jpg";
                }else{
                    img.src = "background2.jpg";
                }

                var img = document.getElementById("author");
                console.log(data.author + data.usrID + "." + data.authorExt);
                img.src = "/images/" + data.author + data.usrID + "." + data.authorExt;

                var author = document.getElementById("who");
                console.log(data.authorBio);
                author.innerHTML = data.author;

                var desc = $("#desc").get(0);
                desc.innerHTML = data.desc;

                var coords = document.getElementById("otherCard").children[0];
                console.log(data.coords);
                coords.innerHTML = data.coords;

                var address = document.getElementById("otherCard").children[1];
                console.log(data.address);
                address.innerHTML = data.address + " " + data.city + " , " + data.country;      

                var type = document.getElementById("otherCard").children[2];
                var strType;
                console.log(data.type);
                switch(data.type){
                    case 0:
                    strType = "general";
                    break;
                    case 1:
                    strType = "bio";
                    break;
                    case 2: 
                    strType = "Electronic";
                    break;
                    case 3:
                    strType = "ore"
                    break;
                    case 4: 
                    strType = "metal";
                    break;
                }
                type.innerHTML = "Type: " + strType;

                var im_g = document.getElementById("otherCard").children[3];
                console.log("/resourceImages/" + data.title + data.itemID + "." + data.extension);
                im_g.src = "/resourceImages/" + data.title + data.itemID + "." + data.extension; 

                /*If The author ID is the same as the session ID then create controls*/
                
                if(data.currentID===data.usrID){
                    var del = document.createElement('div');
                    var control = document.getElementById("control");
                    control.appendChild(del);
                    del.className = "button";
                    var txt = document.createElement('p');
                    txt.innerHTML = "Delete";
                    del.appendChild(txt);
                    var tempid = data.itemID;
                    del.onclick = function(){
                    console.log("Current ID " + tempid);
                        $.ajax({
                            url: '/deleteResource',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({itemID:tempid}),
                            dataType: 'json',
                            success:function(data){
                                console.log("success");

                            },
                            error: function(xhr,status,error){
                                console.log("error");
                        }
                            });
                    }
                }
                            
            }
            setupRating();
        </script>
        </div>
</body>
</html>