<!DOCTYPE html>
<html>
<head>
    <title>Resource Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/css/resourcePage.css" />
</head>
<body id="body">
    
    <div class="display">
    <!--Areas to control page by Author -->
    <div id= "control">
        
    </div>

    <div class= "authorCard">
        <img id="author" src="" style="width:25px;height:35px;">
        <p id="who">desc</p>
    </div>

    <div class= "header">
        <h1 id="title"></h1>
    </div>



    <div class="detailsCard">
        <p id="desc"></p>
        <div id="otherCard"
            <p id="coord"></p>
            <p id="address"></p>
            <p id="type"></p>
            <img id="image" src="" style="width:20em;height:15em;">
        </div>

     <div class="Comments_Ratings">
         <div class="radioButton">
            
                <div class="radio">
                    <img id="starOne" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starTwo" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starThree" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starFour" class="stars" src="star.png">
                </div>
                <div class="radio">
                    <img id="starFive" class="stars" src="star.png">
                </div>
            
         </div>
         <p id="commentors"></p>
         

     <div class="comments" id="com">
         <textarea id="inputComment" rows="4" cols="50">

        </textarea>
        <button onclick="sendComment()" id="sendComment" type="button">Submit Comment</button>
     </div>
     
     </div>
    </div> 
        </div>
        <script src="/views/javascript/resourcePage.js"></script>
</body>

</html>