
<!DOCTYPE html>

<html>

<body>
<p> Resources</p>
<script>
function selectResources(){
          $("#HBL").removeClass("active");
          $("#ABL").removeClass("active");
          $("#RBL").addClass("active");
          console.log("Making Resources Active");
        }
        selectResources();
</script>
</body>
</html>
