        #background{
            z-index: -1;
            position: absolute;
            height:100vh;
        }
        .display{
            z-index: 1;
            background-color: #808080;
            opacity: 0.9;
            height:100%;
            width:65%;
            margin: auto;
        }
        body{
            height: 100vh;
        }
        p{
            color:ghostwhite;
        }
        h2{
            color:ghostwhite;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 1em;
            margin-left: 1em;
        }
        .form-control{
            margin:auto;
            position: relative;
        }
        .button{
            margin:auto;
            position: relative;
        }
        #cont{
            width:60%;
            margin:auto;
            left:5em;
            position:relative;
        }
